Package: cloudflared
Version: ${VERSION}
License: Cloudflare Service Agreement
Vendor: Cloudflare
Architecture: mips
Maintainer: <Cloudflare support@cloudflare.com>
Section: default
Homepage: https://github.com/cloudflare/cloudflared
Description: Cloudflare Argo tunnel daemon
